.spots-parent-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .spots-parent-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(13rem, 1fr));
    gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .spots-parent-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(13rem, 1fr));
    gap: 1rem;
  }
}
