.spots-parent-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  justify-items: center;
}

.home-pagination-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #e9ecef;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .spots-parent-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: stretch;
    gap: 0;
  }
}
@media screen and (min-width: 1024px) {
  .spots-parent-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .spots-parent-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
  }
}
