.address-form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: solid 1px #858585;
  border-radius: 5px;
  gap: 1rem;
  width: 100%;
  -webkit-box-shadow: 10px 7px 29px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 7px 29px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 7px 29px -6px rgba(0, 0, 0, 0.75);
}

.address-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .address-form-container {
    max-width: 45rem;
  }
}
