.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.form-component {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  min-height: 77vh;
  align-items: center;
  width: 100%;
}

.create-property-submit-button {
  width: 100%;
  padding: 1rem;
  background-color: rgb(226, 87, 87);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  max-width: 16rem;
}

/* @media screen and (min-width: 768px) {
  .form-container {
    padding: 0 3rem;
    width: 100%;
    height: 100%;
  }
} */
