.spot-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  text-decoration: none;
}

.spot-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.4rem;
}

.spot-image-container {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.spot-image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.spot-info-container {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 0.1rem;
}

.tooltip {
  position: absolute;
  z-index: 100;
  display: inline-block;
  background-color: white;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.spot-name {
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(59, 59, 59);
}

.spot-location {
  font-size: 1.2rem;
  font-weight: bolder;
  color: rgb(59, 59, 59);
}

.spot-price {
  font-size: 1rem;
  font-weight: bolder;
  color: black;
}

.star-rating-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: black;
}

.star-icon {
  color: #f0c929;
}

.new-icon {
  color: #df5745;
}

@media screen and (min-width: 768px) {
  .spot-data-container {
    width: 24rem;
    height: 24rem;
  }
}
@media screen and (min-width: 390px) {
  .spot-card {
    max-width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .spot-card {
    max-width: 100%;
  }
}
